{:paths
 ["src" "resources"]

 :deps
 {com.databricks/databricks-jdbc {:mvn/version "2.6.38" :exclusion [log4j/log4j]}}

 ;; the stuff below is only for hacking on the driver locally and is not needed if you follow the instructions in the
 ;; README and create a `:local/root` dep for the driver and launch the REPL from the Metabase project rather than
 ;; from here

 ;;; needed for Metabase as a local dep for local development
 :mvn/repos
 {"opensaml" {:url "https://build.shibboleth.net/nexus/content/repositories/releases/"}}

 :aliases
 {:dev
  {:extra-deps
   {io.github.metabase/metabase {:git/tag "v0.50.13", :git/sha "57b54ebd2b60e8fc52ba332062d9130f60489aba33aa56b9e639d4ad450c815b"}}}}}
